{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
<div class="home-container">
    <h1 class="display-4">Welcome to the Public Home Page</h1>
    <p class="lead">This site is publicly accessible to everyone.</p>
    <div class="d-flex w-25 justify-content-between">
        <a class="btn btn-primary" href="{% url 'public_files' %}">Go to Resource</a>
        <a class="btn btn-primary" href="{% url 'staff_register' %}">Become a Staff Member</a>
    </div>
</div>
{% endblock %}