{% extends "base.html" %}
{% block title %}Staff Dashboard{% endblock %}
{% block body_class %}overflow{% endblock %}
{% block content %}
<div class="row">
    <div class="container mt-5">
        <h2>Welcome, {{ request.user.username }} 👋</h2>

        {% if recent_file %}
        <div class="card mt-4">
            <div class="card-header text-white" style="background-color: rgb(24 63 137);">
                Most Recent Upload
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ recent_file.title }}</h5>
                <p class="card-text"><strong>Label:</strong> {{ recent_file.label }}</p>
                <p class="card-text"><strong>Uploaded on:</strong> {{ recent_file.uploaded_at|date:"F j, Y, g:i a" }}
                </p>
                <a href="{{ recent_file.file.url }}" class="btn btn-sm btn-success" download>Download</a>
                <a href="{{ recent_file.file.url }}" class="btn btn-sm btn-warning" target="_blank">View</a>
            </div>
        </div>
        {% else %}
        <p class="mt-4">You haven't uploaded any files yet.</p>
        {% endif %}
    </div>

    <div class="col-md-4 mt-4">
        <div class="card text-white mb-3" style="background-color: rgb(24 63 137);">
            <div class="card-body">
                <h5 class="card-title">Files Uploaded</h5>
                <p class="card-text display-6">{{ file_count }}</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}