@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* static/css/custom.css */

body {
    background-color: #1a1a1a;
    font-family: "Winky Rough", sans-serif;
    color: #fff;
}