{% extends "base.html" %}
{% block title %}Register Staff{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Staff Registration</h2>
            <form method="post">
                {% csrf_token %}
                <!-- {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    <div>
                        {{ field }}
                    </div>
                    {% if field.errors %}
                    <div class="text-danger">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
                {% endfor %} -->
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
            <div class="text-center mt-3">
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}