{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
<div class="home-container d-flex align-items-center justify-content-center text-center">
    <div class="text-white">
        <h1 class="mb-4">Welcome to the Notes Management System</h1>
        <p class="w-50 mx-auto">Welcome to our College Notes Management System! This web app is designed to streamline the sharing of academic resources between staff and students. Staff members can easily upload and manage their notes, organizing them by categories and subjects for better accessibility. Students can browse and download these resources anytime without the hassle of logging in, making learning more convenient and efficient for everyone.</p>
        <div class="btn-group-horizontal mt-4">
            <a href="{% url 'public_resources' %}" class="btn btn-outline-light btn-md px-5">Go to Resource</a>
            <a href="{% url 'group_list' %}" class="btn btn-outline-light btn-md px-5">Search By Group</a>
        </div>
    </div>
</div>
{% endblock %}
