{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
<div class="home-container d-flex align-items-center justify-content-center text-center">
    <div class="text-white">
        <h1 class="mb-4">Welcome to the Resource Management System</h1>
        <div class="btn-group-vertical gap-3">
            <a href="{% url 'public_resources' %}" class="btn btn-light btn-lg px-5">Go to Resource</a>
            <a href="{% url 'login' %}" class="btn btn-outline-light btn-lg px-5">Staff Login</a>
        </div>
    </div>
</div>
{% endblock %}
