<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(24 63 137);">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">NotesApp</a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
                  {# Admin-specific links #}
                  {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_staff' %}">Manage Staff</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_groups' %}">Manage Groups</a>
                    </li>
                  {% endif %}
                  
                  {# Staff-specific links (only show if staff but not admin) #}
                  {% if user.is_staff and not user.is_superuser %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'staff_dashboard' %}">Staff Dashboard</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'upload_file' %}">Upload File</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'manage_files' %}">Manage Files</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'staff_profile' %}">My Profile</a>
                      </li>
                  {% endif %}
                  
                  {# Logout link for all authenticated users #}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
              {% else %}
                  {# Login link for anonymous users #}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>